h4 {
    font-family: "courier new";
}


h3 {
    font-family: "courier";
}

h2 {
    font-family: "verdana";
    
}

.backbutton {
    width: 180px;
    height:auto;
}

.tutorial-game-logo {
    float: right;

}

.signout-button {
    width: 230px;
    height: auto;
    margin-left: 300px;
}


.room-button {
    margin-left: -40px;

}


.join-room-button {
    float: left;
    margin-left: 750px;
}

.create-room-button {
    float: left;
    margin-left: 50px;
}

:hover.room-button {
    opacity: 30%;
    transition-duration: 0.4s;
}


.hidden-button {
    width: 0;
    height: 0;
    padding: 0;
}

.menu-logo {
    height: 350px;
    width: 350px;
    float: left;
    margin-top: 40px;
}

.new-game-menu {
    height: 240px;
    width: 240px;
    float: left;
    margin-left: 420px;
}

:hover.create-room-button {
    background-color: #e5e5e5;
    text-decoration: none;
}

:hover.join-room-button {
    background-color: #e5e5e5;
    text-decoration: none;
}

.memorylane-logo {
  height: 130%;
  width: 130%;
  margin-left: -140px;
  margin-right: 0;

}

.zha-attacking {
    height: 80px;
    width: auto;
    position: relative;
    left: 200px;
    top: 170px;
}

.zha-tutorial-icon > img {
    width: 190px;
    height: auto;
}

.zha-choice-human {
    height: 320px;
    width: 320px;
    margin-left: 450px;
}

.zha-choice-plane {
    height: 320px;
    width: 320px;
}

.zha-choice-bomb {
    height: 320px;
    width: 320px;
    margin-left: 880px;
}

.zha-lockin {
    height: auto;
    width: 200px;
}

.zha-reset {
    height: auto;
    width: 200px;
    float: left;
    margin-left: 225px;
}

.zha-log {
    border-radius: 7px;
    border-color: black;
    border-style: solid;
    padding: 20px;
}

.zha-result > span {
    border-radius: 5px;
    border-color: darkblue;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    margin: 5px;
}


.button-logos {
    height: 320px;
    width: 320px;
}

.button {
    margin-left: 50px;
    background-color: transparent;
    
}


.games-logos > button {
    color: black;
    background-color: transparent;
    border-color: transparent;
    
}

.menu {
    list-style-type: none;
}

.menu > li {
    padding: 0.5em;
}

.my-choices {
    margin: 5px;
}

.enemy-choices {
    margin: 5px
}

.my-choices > span {
    margin: 0.5em;
    padding: 5px;
    border-color: red;
    border-radius: 3px;
    border-style: solid;
}

.enemy-choices > span {
    margin: 0.5em;
    padding: 5px;
    border-color: red;
    border-radius: 1px;
    border-style: solid;
}

.enemy-chopsticks {
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 30px;
}

.your-chopsticks {
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding: 30px;
}

.cs-icon {
    width: 100px;
    height: auto;
    position: relative;
    top: 40px;
}

.cs-tutorial-icon > img {
    width: 100px;
    height: auto;
}

.cs-lives > img {
    width: 50px;
    height: auto;
    position: relative;
    top: 5px;
    left: 10px;
}

.cs-options > div > ul {
    list-style-type: none;
}

.cs-options > div > ul > li {
    display: inline-block;
    margin: 40px;
}

.cs-options > div {
    border-radius: 8px;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    padding: 15px;
    padding-left: 50px;
}

.cs-options > div.cs-left {
    background-color: aliceblue;
}

.cs-options > div.cs-right {
    background-color: pink;
}

.cs-options > div.cs-both {
    background-color: lightgray;
}

.cs-LER {
    position: relative;
    left: 230px;
}

.cs-LR {
    position: relative;
    left: 460px;
}

.cs-gameboard > div {
    display: inline-block;
    margin: 50px;
}

.thumbs-choose-left > img {
    width: 100px;
    height: auto;
    position: relative;
    left: 170px;
}

.thumbs-choose-right > img {
    width: 100px;
    height: auto;
    position: relative;
    transform: scaleX(-1);
    left: 170px;
}

.thumbs-choose-left {
    float:left;
    width: 510px;
    height: 280px;
    padding: 30px;
    border-radius: 5px;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    background-color: lightblue;
}

.thumbs-choose-right {
    float: left;
    width: 510px;
    height: 280px;
    padding: 30px;
    margin-left: 90px;
    border-radius: 5px;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    background-color: lightpink;
}

.thumbs-lower-button {
    position: relative;
    left: 220px;
}

.thumbs-your-number {
    width: 400px;
    height: 80px;
    border-radius: 5px;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    padding: 18px;
    font-family: "courier";
    font-size: 22px;
}

.thumbs-option-button {
    background-color: lightgrey;
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    font-family: "courier";
    color: black;
}

.thumbs-result {
    border-radius: 3px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 30px;
    font-family: "courier";
    width: 500px;
    height: 150px;
    float: left;
    margin-left: 50px;
    background-color: lightcyan;
}

.thumbs-result > img {
    width: 60px;
    height: auto;
    position: relative;
    top: 15px;
}

.thumbs-raised-correct {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 25px;
    width: 400px;
    margin-left: 50px;
    font-family: "courier";
    background-color: lightgreen;
}

.thumbs-number-called-correct {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 25px;
    width: 400px;
    margin-left: 50px;
    font-family: "courier";
    margin-top: 10px;
    background-color: lightgreen;
}

.thumbs-raised-wrong {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 25px;
    width: 400px;
    margin-left: 50px;
    font-family: "courier";
    background-color: #ffa8b5;
}

.thumbs-number-called-wrong {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 25px;
    width: 400px;
    margin-left: 50px;
    font-family: "courier";
    margin-top: 10px;
    background-color: #ffa8b5;
}

:hover.create-room-button {
    background-color: #e5e5e5;
    text-decoration: none;
}

:hover.join-room-button {
    background-color: #e5e5e5;
    text-decoration: none;
}

:hover.signout-button {
    opacity: 30%;
    transition-duration: 0.4s;
}

:hover.button-logos {
    opacity: 30%;
    transition-duration: 0.4s;
}

:hover.backbutton {
    opacity: 30%;
    transition-duration: 0.4s;
    
}

:hover.menu-button {
    opacity: 30%;
    transition-duration: 0.4s;
}

.leaderboard {
    padding: 20px 50px; 
}

.leaderboard-header, .row {
    display: flex;
    border-bottom: 1px solid #c2dd2b;
}

.leaderboard-header p, .row p {
    float: left;
    text-align: left;
    width: 50%; 
}

.row > p {
    font-family: Cochin;
}

.leaderboard-your-ranking {
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    border-style: dashed;
    padding: 25px;
}

.leaderboard-overall-button {
    width: 55px;
    height: auto;
    position: relative;
    top: 6px;
    right: 3px;
}

.leaderboard-zha-button {
    width: 90px;
    height: auto;
    position: relative;
    bottom: 12px;
}

.leaderboard-header {
    font-weight: bold;
    border-width: 2px;
    color: #c2dd2b;
    text-transform: uppercase;
}

.leaderboard-list {
    padding-left: 0; 
    font-family: "courier";
}

.leaderboard-game-logo {
    float: right;
    width: 250px;
    position: relative;
    bottom: 83px;
}

.leaderboard-game-logo-overall {
    float: right;
    width: 120px;
    position: relative;
    bottom: 0px;
}
  
.nav-buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100px;
    overflow: hidden;
    background-color: lightcyan;
    border-style: solid;
    border-width: 2px;
}

.nav-button {
    float: left;
    width: 25%;
}

.link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

:hover.link {
    background-color: lightgray;
    text-decoration: none;
}


